{
  "presets": ["es2015"],
  "env": {
    "coverage": {
      "plugins": [
        ["istanbul", {
          "include": [
            "packages/**/src/**/*.js"
          ]
        }]
      ]
    }
  }
}
