{
  "presets": ["es2015"],
  "plugins": [
    "add-module-exports",
  ],
  "env": {
    "development": {
      "plugins": [
        ["istanbul", {
          "include": [
            "packages/**/src/**/*.js"
          ]
        }]
      ]
    }
  }
}
