{
  "env": {
    "es2020": true,
    "node": true,
    "jasmine": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:import/recommended"
  ],
  "rules": {
    "import/extensions": [2, "always"]
  } 
}