# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.eslintcache
.project
.settings
.tmproj
nbproject
Thumbs.db
.tern-project

# NPMs
node_modules/
npm-debug.log

coverage/
